.fixed-bottom{
  width: 100%;
  height:4rem;
  background-color: white;
  display: flex;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 1rem;
    background: green;
    color: #fff;
vertical-align: top;
    margin-left: -10px; 
}