.fixed-bottom{
  width: 100%;
  height:4rem;
  background-color: white;
  display: flex;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 1rem;
    background: green;
    color: #fff;
vertical-align: top;
    margin-left: -10px; 
}

.loader{
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fb;
  transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden{
  opacity:0;
  visibility:hidden;
}

.loader::after{
  content: '';
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.775s ease infinite;
}

@keyframes loading{
  from{
    transform: rotate(0turn);
  }
  to{
    transform: rotate(1turn);
  }
}